*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

.page,
.fullscreen-bg {
  min-height: inherit;
  min-width: inherit;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 101%;
  min-height: 101%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page {
  position: relative;
}

.hrdcr {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4vmax;
}

.hrdcr span {
  display: block;
  font-size: 0;
  color: transparent;
  padding-bottom: 108.938547486%;
  position: relative;
}

.hrdcr span:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hrdcr span, .hrdcr span:before {
  -webkit-transition: all 0s;
  transition: all 0s;
  -webkit-transition-delay: 10s;
          transition-delay: 10s;
}

.hrdcr span:hover:before {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background-color: white;
}

.hrdcr-h:nth-child(1) {
  -webkit-animation: white 3.6s infinite linear;
          animation: white 3.6s infinite linear;
  -webkit-animation-delay: 1.26s, 2.91s;
          animation-delay: 1.26s, 2.91s;
  -webkit-transition-delay: 6.2s;
          transition-delay: 6.2s;
}

.hrdcr-h:nth-child(1):before {
  background-color: #15f8c4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 58.5h53.7V0H0zm2.7-2.7V30.6H51v25.2zM51 2.7v25.2H2.7V2.7z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 58.5h53.7V0H0zm2.7-2.7V30.6H51v25.2zM51 2.7v25.2H2.7V2.7z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.57s infinite steps(5);
          animation: hue 1.57s infinite steps(5);
  -webkit-animation-delay: 1.76s;
          animation-delay: 1.76s;
  -webkit-transition-delay: 8.2s;
          transition-delay: 8.2s;
}

.hrdcr-h:nth-child(1):hover {
  -webkit-animation: white 6s infinite linear, shift 8s ease-in-out infinite alternate;
          animation: white 6s infinite linear, shift 8s ease-in-out infinite alternate;
}

.hrdcr-a:nth-child(2) {
  -webkit-animation: white 3.2s infinite linear;
          animation: white 3.2s infinite linear;
  -webkit-animation-delay: 1.03s, 2.42s;
          animation-delay: 1.03s, 2.42s;
  -webkit-transition-delay: 9.5s;
          transition-delay: 9.5s;
}

.hrdcr-a:nth-child(2):before {
  background-color: #9497cb;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M53.7 0H0v58.5h53.7zM15.1 30.4h23.5l11.7 25.4H3.4zM2.7 50.9V30.4H12zM16 28.1L26.9 4.6 37.5 28zm25.5 2.3H51v20.5zM51 28H40.6L29 2.7h22zM24.8 2.7L13 28H2.7V2.7z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M53.7 0H0v58.5h53.7zM15.1 30.4h23.5l11.7 25.4H3.4zM2.7 50.9V30.4H12zM16 28.1L26.9 4.6 37.5 28zm25.5 2.3H51v20.5zM51 28H40.6L29 2.7h22zM24.8 2.7L13 28H2.7V2.7z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.67s infinite steps(2);
          animation: hue 1.67s infinite steps(2);
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
}

.hrdcr-a:nth-child(2):hover {
  -webkit-animation: white 1.6s infinite linear, shift 4s ease-in-out infinite alternate;
          animation: white 1.6s infinite linear, shift 4s ease-in-out infinite alternate;
}

.hrdcr-r:nth-child(3) {
  -webkit-animation: white 2.9s infinite linear;
          animation: white 2.9s infinite linear;
  -webkit-animation-delay: 1.38s, 2.23s;
          animation-delay: 1.38s, 2.23s;
  -webkit-transition-delay: 5.4s;
          transition-delay: 5.4s;
}

.hrdcr-r:nth-child(3):before {
  background-color: #0dce06;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M5.1 0H0v58.5h53.7V0H5.1zm33.3 2.7a12.6 12.6 0 010 25.2h-11L4.4 2.7h34zM2.7 27.9v-23l21.1 23zm0 2.7h23.6l23 25.2H2.7zm48.3 23l-21.1-23h8.5A15.3 15.3 0 0051 23.9zm0-51v4a15.3 15.3 0 00-4-4z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M5.1 0H0v58.5h53.7V0H5.1zm33.3 2.7a12.6 12.6 0 010 25.2h-11L4.4 2.7h34zM2.7 27.9v-23l21.1 23zm0 2.7h23.6l23 25.2H2.7zm48.3 23l-21.1-23h8.5A15.3 15.3 0 0051 23.9zm0-51v4a15.3 15.3 0 00-4-4z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.78s infinite steps(7);
          animation: hue 1.78s infinite steps(7);
  -webkit-animation-delay: 1.07s;
          animation-delay: 1.07s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.hrdcr-r:nth-child(3):hover {
  -webkit-animation: white 4.6s infinite linear, shift 4s ease-in-out infinite alternate;
          animation: white 4.6s infinite linear, shift 4s ease-in-out infinite alternate;
}

.hrdcr-d:nth-child(4) {
  -webkit-animation: white 5s infinite linear;
          animation: white 5s infinite linear;
  -webkit-animation-delay: 1.49s, 2.49s;
          animation-delay: 1.49s, 2.49s;
  -webkit-transition-delay: 7.6s;
          transition-delay: 7.6s;
}

.hrdcr-d:nth-child(4):before {
  background-color: #796420;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M26.9 0H0v58.5h53.7V0zm0 2.7A24.2 24.2 0 0151 26.8v1H2.7V2.8zm-24.2 53V30.7H51v1a24.2 24.2 0 01-24.1 24.2zm48.3 0H38.6A27 27 0 0051 43.4zm-12.4-53H51V15A27 27 0 0038.6 2.8z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M26.9 0H0v58.5h53.7V0zm0 2.7A24.2 24.2 0 0151 26.8v1H2.7V2.8zm-24.2 53V30.7H51v1a24.2 24.2 0 01-24.1 24.2zm48.3 0H38.6A27 27 0 0051 43.4zm-12.4-53H51V15A27 27 0 0038.6 2.8z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.67s infinite steps(2);
          animation: hue 1.67s infinite steps(2);
  -webkit-animation-delay: 1.37s;
          animation-delay: 1.37s;
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}

.hrdcr-d:nth-child(4):hover {
  -webkit-animation: white 3.4s infinite linear, shift 4s ease-in-out infinite alternate;
          animation: white 3.4s infinite linear, shift 4s ease-in-out infinite alternate;
}

.hrdcr-c:nth-child(5) {
  -webkit-animation: white 5.8s infinite linear;
          animation: white 5.8s infinite linear;
  -webkit-animation-delay: 1.64s, 2.32s;
          animation-delay: 1.64s, 2.32s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.hrdcr-c:nth-child(5):before {
  background-color: #95fdeb;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 0v58.5h53.7V0zm2.7 2.7h12.5A27 27 0 002.7 15.2zm0 53V43.4a27 27 0 0012.5 12.5zm24.1 0a24.2 24.2 0 01-24.1-24v-1H51v25zM51 2.8v25.2H2.7v-1A24.2 24.2 0 0126.9 2.7z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 0v58.5h53.7V0zm2.7 2.7h12.5A27 27 0 002.7 15.2zm0 53V43.4a27 27 0 0012.5 12.5zm24.1 0a24.2 24.2 0 01-24.1-24v-1H51v25zM51 2.8v25.2H2.7v-1A24.2 24.2 0 0126.9 2.7z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.54s infinite steps(5);
          animation: hue 1.54s infinite steps(5);
  -webkit-animation-delay: 1.03s;
          animation-delay: 1.03s;
  -webkit-transition-delay: 8.4s;
          transition-delay: 8.4s;
}

.hrdcr-c:nth-child(5):hover {
  -webkit-animation: white 5.6s infinite linear, shift 5s ease-in-out infinite alternate;
          animation: white 5.6s infinite linear, shift 5s ease-in-out infinite alternate;
}

.hrdcr-o:nth-child(6) {
  -webkit-animation: white 4.1s infinite linear;
          animation: white 4.1s infinite linear;
  -webkit-animation-delay: 1.71s, 2.54s;
          animation-delay: 1.71s, 2.54s;
  -webkit-transition-delay: 4.2s;
          transition-delay: 4.2s;
}

.hrdcr-o:nth-child(6):before {
  background-color: #a58053;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 58.5h53.7V0H0zm4-28h45.7v1a22.8 22.8 0 01-45.7.1zM49.6 28H4v-1a22.8 22.8 0 0145.6 0zm-47 11.9a25.6 25.6 0 0016 16h-16zm32.4 16a25.6 25.6 0 0016-16v16zm16-37.1a25.6 25.6 0 00-16-16h16zm-32.3-16a25.6 25.6 0 00-16 16v-16z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 58.5h53.7V0H0zm4-28h45.7v1a22.8 22.8 0 01-45.7.1zM49.6 28H4v-1a22.8 22.8 0 0145.6 0zm-47 11.9a25.6 25.6 0 0016 16h-16zm32.4 16a25.6 25.6 0 0016-16v16zm16-37.1a25.6 25.6 0 00-16-16h16zm-32.3-16a25.6 25.6 0 00-16 16v-16z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.08s infinite steps(3);
          animation: hue 1.08s infinite steps(3);
  -webkit-animation-delay: 1.49s;
          animation-delay: 1.49s;
  -webkit-transition-delay: 8.7s;
          transition-delay: 8.7s;
}

.hrdcr-o:nth-child(6):hover {
  -webkit-animation: white 4.6s infinite linear, shift 3s ease-in-out infinite alternate;
          animation: white 4.6s infinite linear, shift 3s ease-in-out infinite alternate;
}

.hrdcr-r:nth-child(7) {
  -webkit-animation: white 3.5s infinite linear;
          animation: white 3.5s infinite linear;
  -webkit-animation-delay: 1.24s, 2.02s;
          animation-delay: 1.24s, 2.02s;
  -webkit-transition-delay: 4.4s;
          transition-delay: 4.4s;
}

.hrdcr-r:nth-child(7):before {
  background-color: #27f9be;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M5.1 0H0v58.5h53.7V0H5.1zm33.3 2.7a12.6 12.6 0 010 25.2h-11L4.4 2.7h34zM2.7 27.9v-23l21.1 23zm0 2.7h23.6l23 25.2H2.7zm48.3 23l-21.1-23h8.5A15.3 15.3 0 0051 23.9zm0-51v4a15.3 15.3 0 00-4-4z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M5.1 0H0v58.5h53.7V0H5.1zm33.3 2.7a12.6 12.6 0 010 25.2h-11L4.4 2.7h34zM2.7 27.9v-23l21.1 23zm0 2.7h23.6l23 25.2H2.7zm48.3 23l-21.1-23h8.5A15.3 15.3 0 0051 23.9zm0-51v4a15.3 15.3 0 00-4-4z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.5s infinite steps(5);
          animation: hue 1.5s infinite steps(5);
  -webkit-animation-delay: 1.56s;
          animation-delay: 1.56s;
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}

.hrdcr-r:nth-child(7):hover {
  -webkit-animation: white 2.7s infinite linear, shift 9s ease-in-out infinite alternate;
          animation: white 2.7s infinite linear, shift 9s ease-in-out infinite alternate;
}

.hrdcr-e:nth-child(8) {
  -webkit-animation: white 1.9s infinite linear;
          animation: white 1.9s infinite linear;
  -webkit-animation-delay: 1.19s, 2.88s;
          animation-delay: 1.19s, 2.88s;
  -webkit-transition-delay: 3.2s;
          transition-delay: 3.2s;
}

.hrdcr-e:nth-child(8):before {
  background-color: #2870a6;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 58.5h53.7V0H0zm2.7-2.7V30.6H51v25.2zM51 2.7v25.2H2.7V2.7z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.7 58.5'%3E%3Cpath d='M0 58.5h53.7V0H0zm2.7-2.7V30.6H51v25.2zM51 2.7v25.2H2.7V2.7z'/%3E%3C/svg%3E");
  -webkit-animation: hue 1.8s infinite steps(9);
          animation: hue 1.8s infinite steps(9);
  -webkit-animation-delay: 1.14s;
          animation-delay: 1.14s;
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.hrdcr-e:nth-child(8):hover {
  -webkit-animation: white 0.6s infinite linear, shift 7s ease-in-out infinite alternate;
          animation: white 0.6s infinite linear, shift 7s ease-in-out infinite alternate;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes white {
  0%,
  79% {
    -webkit-filter: none;
            filter: none;
  }
  80%,
  99% {
    -webkit-filter: contrast(0) brightness(3);
            filter: contrast(0) brightness(3);
  }
}

@keyframes white {
  0%,
  79% {
    -webkit-filter: none;
            filter: none;
  }
  80%,
  99% {
    -webkit-filter: contrast(0) brightness(3);
            filter: contrast(0) brightness(3);
  }
}

@-webkit-keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  41% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  42% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  59% {
    -webkit-transform: skewX(40deg) skewY(10deg);
            transform: skewX(40deg) skewY(10deg);
  }
  60% {
    -webkit-transform: skewX(-40deg) skewY(-10deg);
            transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    -webkit-transform: skewX(10deg) skewY(-5deg);
            transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    -webkit-transform: skewX(-50deg) skewY(-20deg);
            transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    -webkit-transform: skewX(10deg) skewY(-10deg);
            transform: skewX(10deg) skewY(-10deg);
  }
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  41% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  42% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  59% {
    -webkit-transform: skewX(40deg) skewY(10deg);
            transform: skewX(40deg) skewY(10deg);
  }
  60% {
    -webkit-transform: skewX(-40deg) skewY(-10deg);
            transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    -webkit-transform: skewX(10deg) skewY(-5deg);
            transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    -webkit-transform: skewX(-50deg) skewY(-20deg);
            transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    -webkit-transform: skewX(10deg) skewY(-10deg);
            transform: skewX(10deg) skewY(-10deg);
  }
}
/*# sourceMappingURL=style.css.map */